<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  
  <servlet>
    <description></description>
    <display-name>Navigateur</display-name>
    <servlet-name>Navigateur</servlet-name>
    <servlet-class>servlet.Navigateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Navigateur</servlet-name>
    <url-pattern>/Navigateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Navi</display-name>
    <servlet-name>Navi</servlet-name>
    <servlet-class>Navi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Navi</servlet-name>
    <url-pattern>/Navi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OS</display-name>
    <servlet-name>OS</servlet-name>
    <servlet-class>OS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OS</servlet-name>
    <url-pattern>/OS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Date</display-name>
    <servlet-name>Date</servlet-name>
    <servlet-class>Date</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Date</servlet-name>
    <url-pattern>/Date</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mobile</display-name>
    <servlet-name>Mobile</servlet-name>
    <servlet-class>Mobile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mobile</servlet-name>
    <url-pattern>/Mobile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PC</display-name>
    <servlet-name>PC</servlet-name>
    <servlet-class>PC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PC</servlet-name>
    <url-pattern>/PC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Erreur</display-name>
    <servlet-name>Erreur</servlet-name>
    <servlet-class>Erreur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Erreur</servlet-name>
    <url-pattern>/Erreur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Heure</display-name>
    <servlet-name>Heure</servlet-name>
    <servlet-class>Heure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Heure</servlet-name>
    <url-pattern>/Heure</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Personne</display-name>
    <servlet-name>Personne</servlet-name>
    <servlet-class>Personne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Personne</servlet-name>
    <url-pattern>/Personne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Url</display-name>
    <servlet-name>Url</servlet-name>
    <servlet-class>Url</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Url</servlet-name>
    <url-pattern>/Url</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Country</display-name>
    <servlet-name>Country</servlet-name>
    <servlet-class>Country</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Country</servlet-name>
    <url-pattern>/Country</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonneTop5</display-name>
    <servlet-name>PersonneTop5</servlet-name>
    <servlet-class>PersonneTop5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonneTop5</servlet-name>
    <url-pattern>/PersonneTop5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlFichier</display-name>
    <servlet-name>UrlFichier</servlet-name>
    <servlet-class>UrlFichier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlFichier</servlet-name>
    <url-pattern>/UrlFichier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiffError</display-name>
    <servlet-name>DiffError</servlet-name>
    <servlet-class>DiffError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiffError</servlet-name>
    <url-pattern>/DiffError</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Map</display-name>
    <servlet-name>Map</servlet-name>
    <servlet-class>Map</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Map</servlet-name>
    <url-pattern>/Map</url-pattern>
  </servlet-mapping>
</web-app>