* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    font-family: 'Rajdhani', sans-serif;
    background-color: #5c79a1;
    min-height: 8vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

.back a {
    text-decoration: none;
    color: rgb(240, 235, 230);
    position: absolute;
    left: 3%;
    top: 33%;
    font-size: small;
}

.logo {
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#navbar_logo {
    text-decoration: none;
    color: rgb(240, 235, 230);
    position: absolute;
    left: 10%;
    top: 25%;
}

.navbar-elements {
    display: flex;
    justify-content: space-between;
    width: 38%;
}

.navbar-elements a {
    color: rgb(240, 235, 230);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 13px;
}

.navbar-elements button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: rgb(240, 235, 230);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 13px;
}

.menu-button {
    display: none;
    right: 40px;
    position: absolute;
}

.menu-button div {
    height: 1.5px;
    width: 18px;
    background-color: rgb(240, 235, 230);
    margin: 4px;
    transition: transform 0.5s ease-in;
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .navbar-elements {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 92vh;
        right: 0px;
        top: 8vh;
        background-color: #6a87b1;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navbar-elements a,
    .marg {
        margin: 8vh;
    }
    .menu-button {
        display: block;
        cursor: pointer;
    }
    #id_butt {
        display: none;
    }
    .container-buttons {
        margin-left: 5%;
    }
    #navbar_logo {
        text-decoration: none;
        color: rgb(240, 235, 230);
        position: absolute;
        left: 40%;
        top: 25%;
    }
}

.nav-slide {
    transform: translateX(0%);
}

.navbar-elements a:hover {
    font-size: 16px;
    transition: 0.4s;
}

.navbar-elements button:hover {
    font-size: 16px;
    transition: 0.4s;
}

.back a:hover {
    font-size: 15px;
    transition: 0.5s;
}

.changeToggle .line1 {
    transform: rotate(90deg) translate(5.5px, 5.3px);
    transition: transform 0.5s ease-in;
}

.changeToggle .line2 {
    transform: rotate(90deg);
    transition: transform 0.5s ease-in;
}

.changeToggle .line3 {
    transform: rotate(90deg) translate(-5.5px, -5.3px);
    transition: transform 0.5s ease-in;
}

#home {
    position: absolute;
    top: 0;
}